# Dependencies
node_modules/
.pnp
.pnp.js

# Production & Build outputs
dist/
build/
.astro/

# Environment and Secrets
.env
.env.*
!.env.example

# Operating System Files
.DS_Store
Thumbs.db

# IDE and Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
